.position{
	position: relative;
	left: 5px;
}

.div1{
	border: 3px blue solid;
	background-color:#98F0E1;
	color: #4843F8; 
}
.div2{
	border: 3px green solid;
	position: relative;
	top: 3px;
	background-color: #98F098;
	color: #0BD932;
}
.div3{
	border: 3px solid;
	position: relative;
	top: 6px;
}
img{
	width: 400px;
	height: 200px;
}
body{
	background-color: #F0EADE;
}
